.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Obliga al contenedor a medir toda la pantalla
  background-color: var(--primary);

  app-simple-header {
    width: 100%; // Asegura que el header mande en todo el ancho
  }

  // Este es el truco: el contenido central crece y empuja al footer abajo
  .main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .title {
      color: #a0a0a0;
      text-align: center;
      font-size: 14px;
      margin-bottom: 30px;
      max-width: 500px;
    }
  }

  app-footer {
    width: 100%;
    margin-top: auto; // Empuja el footer al final si el contenido es poco
  }
}

// Estilos de la Card (Anidado)
.card {
  background-color: #2c2f38;
  padding: 40px 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px; // Para que no se estire feo en PC
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  text-align: center;

  .title-card {
    color: #ff9800;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 20px;
    
    // Arreglo para que el input de Material no se vea blanco/gris feo
    ::ng-deep {
      .mdc-text-field--outlined {
        background-color: transparent !important;
      }
      .mdc-notched-outline__lead, 
      .mdc-notched-outline__notch, 
      .mdc-notched-outline__trailing {
        border-color: #ff9800 !important;
      }
      .mat-mdc-form-field-label-wrapper .mdc-floating-label {
        color: #ff9800 !important;
      }
      input {
        color: white !important;
        padding-left: 15px !important; // Esto despega el texto del borde izquierdo
    padding-right: 10px !important;
      }
    }
  }

  button {
    width: 100%;
    background-color: #ff9800;
    color: #1a1c23;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    
    &:hover {
      background-color: #e68a00;
    }
  }
}