<div class="page-container">
  <app-simple-header></app-simple-header>

  <div class="main-content">
    <div class="title">
      Reestablecer contraseña, Ingresa los datos requeridos para reestabler tu contraseña
    </div>

    <div class="card">
      <div class="title-card">REESTABLECER</div>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="email"  [(ngModel)]="email" name="email" required>
      </mat-form-field>
      
      <button (click)="abrirDialog()">REESTABLECER</button>

      <span>Si ya tienes una cuenta <span class="text-link" routerLink="/login">ingresa</span></span>
    </div>
  </div>

  <app-footer></app-footer>
</div>