.page-container{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;


    .formulario{
        border:  1px solid green;
        background-color: var(--secondary-color);
        padding: 30px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}