<h2>Restablecer contraseña</h2>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Token</mat-label>
  <input matInput [(ngModel)]="token">
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Nueva contraseña</mat-label>
  <input matInput type="password" [(ngModel)]="newPassword">
</mat-form-field>
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Confirmar contraseña</mat-label>
  <input matInput type="password" [(ngModel)]="confirmNewPassword">
</mat-form-field>

<button mat-button (click)="cerrar()">Cancelar</button>
<button mat-flat-button color="primary" (click)="confirmar()">
  Confirmar
</button>